@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<h2>Programador Jair Pereira</h2>
<p>email: jairxpereira@yahoo.com.br</p>
<p>linkedin: https://www.linkedin.com/in/jairxpereira/</p>
<p>github: www.github.com/jairxpereira</p>
